html{
    scroll-behavior: smooth;
}

*{margin: 0; padding: 0;}

body{
    background-color: #fff;
    color: #313847;
    display: flex;
    flex-direction: column;
    font-family: 'Jost', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans JP', 'Yu Gothic UI', 'M+ 1p', sans-serif;
    font-size: var(--f);
    min-height: 100vh;
}


.katex {font-size: 1.05em !important; overflow-x: auto; overflow-y: hidden;}
.katex::-webkit-scrollbar{height: 3px;}
.katex::-webkit-scrollbar-thumb{background: #465065; border-radius: 1.5px;}
.katex::-webkit-scrollbar-track-piece{background: #CCCCCC;}

ul{list-style-type: none;}

a{text-decoration: none;}

hr{border-top: 1px solid #d9dbde; text-align: center;}

img{margin: 0.5em 2em 0; height: 10%; min-height: 5em; width: 10%; min-width: 5em;}

emp{font-weight: 700;}

sml{font-size: 0.85em;}

#article nomg p:not(:last-of-type){margin-bottom: 0;}

.float{float: left;}

::selection{background-color: #d9dbde; color: #92959e;}

i, #path ul li:not(:first-of-type):before, .has-child::after,.expand::after{vertical-align: -0.15em;}

#title a, #top-icons li a, #path ul li:not(:last-of-type), #path ul li a, #index li, #index li a, #article a, #next-article>span, #next-article a{transition: .2s ease;}

#path ul li a:hover, #index li a:hover, #article a:hover{text-decoration: solid 1px underline #707480;}

#title a:hover, #top-icons li a:hover, #path ul li a:hover, #index li a:hover, #article p a:hover, #next-article a:hover{color: #707480;}

#path ul li:not(:last-of-type):hover, #index li a:hover, #next-article>span:last-of-type:hover{
    transform: translateX(0.2em);
}
#next-article>span:first-of-type:hover{
    transform: translateX(-0.2em);
}


.expand::after{
    content: "expand_more";
    font-family: 'Material Icons';
    margin-left: 0.15em;
}


header{
    border-bottom: 1px solid #d9dbde;
    border-top: 4px solid #232731;
    margin-bottom: 4em;
    padding: 2em 0 1.75em;
}
#title-wrapper{
    display: flex;
}
#title{
    font-size: 1.5em;
    font-weight: 380;
    letter-spacing: 2px;
}
#title a{
    color: #313847;
    text-decoration: none;
}

#icon-wrapper{
    display: flex;
    margin-left: auto;
    margin-right: 0;
}
#top-icons{
    display: flex;
}
.material-icons-outlined{
    font-weight: light !important; font-size: 1.5em !important;
}
#top-icons li{
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    box-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: box;
}
#top-icons li:not(:first-of-type){
    margin-left: 0.8em;
}
#top-icons li a{
    color: #313847;
    display: block;
}



#content{
    padding-bottom: 6em;
}

#center{
    margin-bottom: 7em;
}


#path{
    color: #313847;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.75em;
    margin-bottom: 1.3em;
    margin-left: -0.15em;
}
#path ul li{
    display: inline-block;
}
#path ul li a{
    color: #313847;
}
#path ul li:not(:first-of-type):before{
    content: "chevron_right";
    font-family: 'Material Icons';
    font-weight: bold;
}


#center-top{
    margin-bottom: 2.5em;
}

h1{
    border-left: 3px solid #313847;
    box-sizing: border-box;
    font-size: 1.65em;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.2em;
    padding-left: 0.7em;
}


#date{
    color: #707480;
    display: block;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 1em;
    text-align: right;
}
#date i{
    font-size: 1.1em;
}


#index{
    border: 1px solid #313847;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 2em;
    padding: 2.5em;
    margin-bottom: 4em;
}
#index-title{
    border-bottom: 1.5px solid #313847;
    font-size: 1.2em;
    letter-spacing: 10px;
    margin-bottom: 0.5em;
}
#index ul{
    border-left: 1px solid #313847;
    font-size: 0.8em;
    font-weight: 400;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 2em;
}
#index ul li:not(:last-of-type){
    border-bottom: 1px dashed #313847;
}
#index li{
    display: flex;
}
#index li a{
    color: #313847;
    text-decoration: none;
}

#article{
    margin-bottom: 4em;
}
#article p{
    color: #465065;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 2em;
}
#article p:not(:last-of-type){
    margin-bottom: 1.5em;
}
#article p a{
    color: #465065;
    text-decoration: solid 1px underline #465065;
}

h2{
    border-bottom: 1px solid #313847;
    display: flex;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 1em;
}
h3{
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
}

.hl1{
    border-top: solid 1px #92959e;
    margin: 5em auto;
    width: 45%;
}

.hl2{
    border-top: solid 1px #92959e;
    margin: 2.5em auto;
    width: 30%;
}

#next-sign{
    color: #707480;
    font-size: 0.8em;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    letter-spacing: 5px;
    margin-bottom: 0.3em;
}
#next-article{
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
}
#next-article a{
    color: #313847;
}
#next-article>span{
    border-bottom: 1px solid #313847;
}
#next-article>span:first-of-type{
    margin-right: 1em;
}
#next-article>span:last-of-type{
    margin-left: 1em;
    text-align: right;
}


#side{
    float: right;
    height: fit-content;
    position: sticky;
    position: -webkit-sticky;
    top: 5em;
}
#side-wrapper{
    background-color: #d9dbde;
    color: #465065;
}

footer{
    background-color: #232731;
    color: #d9dbde;
    font-size: 0.8em;
    letter-spacing: 1px;
    margin-top: auto;
    padding: 1.5em 0;
    text-align: center;
    user-select: none;
}


@media screen and (max-width: 768px){
    :root{--f: 14px;}
    #content, #title-wrapper{padding-left: calc(1.5*var(--f)); padding-right: calc(1.5*var(--f));}
    #content{display: block;}
}
@media screen and (min-width: 768px){
    :root{--f: 14.8px;}
    #content, #title-wrapper{margin: 0 auto;}
    #center, #title-wrapper{width: calc(45*var(--f));}
}
@media screen and (min-width: 1024px){
    :root{--f: 15.5px;}
    #center, #title-wrapper{width: calc(50*var(--f));}
    #date{margin-top: 0.5em;}
    h1{border-left: 3.5px solid #313847;}
}
@media screen and (min-width: 12800px){
    :root{--l: 10vw;}
    #center{border-right: 1px solid #92959e; padding-right: calc(3*var(--f)); width: max(calc(50*var(--f)), calc(80vw - calc(25*var(--f))));}
    #content, #title-wrapper{margin: 0 var(--l);}
    #content{display: flex;}
    #title-wrapper{width: auto;}
}