html{
    scroll-behavior: smooth;
}

*{margin: 0; padding: 0;}

body{
    background-color: #f2f2f2;
    color: #313847;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans JP';
    font-size: var(--f);
    min-height: 100vh;
}


.katex {font-size: 1.1em !important; overflow-x: auto; overflow-y: hidden;}
.katex::-webkit-scrollbar{height: 3px;}
.katex::-webkit-scrollbar-thumb{background: #444444; border-radius: 1.5px;}
.katex::-webkit-scrollbar-track-piece{background: #CCCCCC;}

ul{list-style-type: none;}

a{text-decoration: none;}

hr{border-top: 1px solid #d9dbde; text-align: center;}

emp{font-weight: 700;}

sml{font-size: 0.85em;}


::selection{background-color: #b5b7bd; color: #ecedee;}

i, #path ul li:not(:first-of-type):before, .has-child::after,.expand::after{vertical-align: -0.15em;}

#title, #title a, #top-icons li a, #path ul li:not(:last-of-type), #path ul li a, #index li, #index li a{transition: .2s ease;}


.expand::after{
    content: "expand_more";
    font-family: 'Material Icons';
    margin-left: 0.15em;
}


header{
    border-bottom: 1px solid #d9dbde;
    border-top: 4px solid #232731;
    margin-bottom: 4em;
    padding: 2em 0 1.75em;
}
#title-wrapper{
    display: flex;
}
#title{
    font-weight: 300;
    font-size: 1.6em;
    letter-spacing: 2px;
}
#title a{
    color: #313847;
    text-decoration: none;
}
#title:hover{
    transform: translateX(0.2em);
}
#title a:hover,#top-icons li a:hover{
    color: #707480;
}
#icon-wrapper{
    display: flex;
    margin-left: auto;
    margin-right: 0;
}
#top-icons{
    display: flex;
}
#top-icons li{
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    box-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: box;
    font-size: 1.2em;
}
#top-icons li:not(:first-of-type){
    margin-left: 0.5em;
}
#top-icons li a{
    color: #313847;
    display: block;
}



#content{
    padding-bottom: 6em;
}

#path{
    color: #313847;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.75em;
    margin-bottom: 1.3em;
    margin-left: -0.15em;
}
#path ul li{
    display: inline-block;
}
#path ul li a{
    color: #313847;
}
#path ul li:not(:first-of-type):before{
    content: "chevron_right";
    font-family: 'Material Icons';
    font-weight: bold;
}
#path ul li:not(:last-of-type):hover{
    transform: translateX(0.2em);
}
#path ul li a:hover{
    color: #707480;
    text-decoration: solid 1px underline #707480;
}


h1{
    border-left: 3px solid #313847;
    box-sizing: border-box;
    font-size: 1.65em;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.2em;
    padding-bottom: 0.1em;
    padding-left: 0.7em;
}


#date{
    color: #707480;
    display: block;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 1em 0 calc(2.5*var(--f));
    text-align: right;
}
#date i{
    font-size: 110%;
}


#index{
    border: 1px solid #313847;
    line-height: 2em;
    padding: calc(2.5*var(--f));
    margin-bottom: calc(2.5*var(--f));
}
#index ul{
    border-left: 1px solid #92959e;
    font-size: 0.9em;
    font-weight: 300;
    margin-left: 1em;
    padding-left: 2em;
}
#index li a{
    color: #313847;
    text-decoration: none;
}
#index li:hover{
    transform: translateX(0.2em);
}
#index li a:hover{
    color: #707480;
    text-decoration: solid 1px underline #707480;
}


#article p{
    color: #465065;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 2.1em;
    margin-bottom: 1.5em;
    text-indent: 1em;
}
#article a{
    color: #3872b8;
}
#article a:hover{
    text-decoration: solid 1px underline #3872b8;
}
h2{
    border-bottom: 1px solid #313847;
    display: flex;
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 1em;
    padding: 0.2em 0.5em;
}
h3{
    border-bottom: 1px dashed #313847;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 1.5em;
    margin-bottom: 1em;
}

.hl1{
    border-top: solid 1px #92959e;
    margin: 5em auto;
    width: 45%;
}

.hl2{
    border-top: solid 1px #92959e;
    margin: 2.5em auto;
    width: 30%;
}

#sub1{
    background-color: #232731;
    color: #f2f2f2;
    float: right;
    height: fit-content;
    position: sticky;
    position: -webkit-sticky;
    top: 5em;
}

footer{
    background-color: #232731;
    color: #b5b7bd;
    font-size: 0.8em;
    margin-top: auto;
    padding: 1.5em 0;
    text-align: center;
    user-select: none;
}


@media screen and (max-width: 768px){
    :root{--f: 13px;}
    #content, #title-wrapper{padding-left: calc(1.5*var(--f)); padding-right: calc(1.5*var(--f));}
    #content{display: block;}
    #center{margin-bottom: 4em;}
}
@media screen and (min-width: 768px){
    :root{--f: 13.8px;}
    #content, #title-wrapper{margin: 0 auto;}
    #center, #title-wrapper{width: calc(45*var(--f));}
}
@media screen and (min-width: 1024px){
    :root{--f: 14.5px;}
    #center, #title-wrapper{width: calc(50*var(--f));}
    #date{margin-top: 0.5em;}
    h1{border-left: 3.5px solid #313847;}
}
@media screen and (min-width: 1280px){
    :root{--l: 10vw;}
    #center{border-right: 1px solid #92959e; padding-right: calc(3*var(--f)); width: max(calc(50*var(--f)), calc(80vw - calc(25*var(--f))));}
    #content, #title-wrapper{margin: 0 var(--l);}
    #content{display: flex;}
    #title-wrapper{width: auto;}
}