*{margin: 0; padding: 0;}

body{
    color: #313847;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans JP';
    min-height: 100vh;
}

.katex {
    font-size: 1.1em !important; overflow-x: auto; overflow-y: hidden;
}
.katex::-webkit-scrollbar{
    height: 3px;
}
.katex::-webkit-scrollbar-thumb{
    background: #444444; border-radius: 1px;
}
.katex::-webkit-scrollbar-track-piece{
    background: #CCCCCC;
}

.material-icons{
    align-items: center;
}


a{
    color: #3872b8;
    text-decoration: none;
}


#title-space{
    border-bottom: 1px solid #d9dbde;
}
#title{
    font-weight: 300;
    font-size: 1.85em;
    letter-spacing: 2px;
    text-align: center;
}
#title a{
    color: #313847;
    text-decoration: none;
    transition: color .3s ease;
}
#title a:hover{
    color: #707480;
}

#center{
    padding-top: 4em;
    padding-bottom: 4em;
}
h1{
    font-size: 1.85em;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 0.5em;
}
#date{
    color: #707480;
    display: block;
    font-size: 0.85em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 1em;
    text-align: right;
}
#date i{
    font-size: 100%;
}
#article p{
    color: #465065;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.8em;
    margin-bottom: 1.5em;
    text-indent: 1em;
}
#article a:hover{
    text-decoration: solid 1px underline #3872b8;
}
h2{
    align-items: center;
    border-bottom: 1px solid #313847;
    display: flex;
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 1.5em 0 1em;
    padding: 0.2em 0.5em;
}

footer{
    background-color: #232731;
    color: #b5b7bd;
    font-size: 0.8em;
    margin-top: auto;
    padding: 1em 2.5em;
    text-align: right;
}


@media screen and (max-width: 768px){
    body{font-size: 14px;}
    #title-space{padding: 34px 0 12px 1em;}
    #center{padding-left: 1em; padding-right: 1em;}
}
@media screen and (min-width: 768px){
    body{font-size: 15px;}
    #title-space{padding: 44px 0 16px;}
    #center{margin: 0 auto; width: 40em;}
}
@media screen and (min-width: 1024px){
    #center{margin: 0 auto; width: 50em;}
    #article p{font-weight: 300;}
}
@media screen and (min-width: 1280px){
    body{font-size: 16px;}
    #center{margin: 0 auto; width: 60em;}
}
