
@font-face{
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("../Metropolis-Black.woff2") format("woff2");
    font-weight: 900;
}
@font-face{
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("../Metropolis-BlackItalic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
}
@font-face{
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("../Metropolis-ExtraBold.woff2") format("woff2");
    font-weight: 800;
}
@font-face{
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("../Metropolis-ExtraBoldItalic.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
}
@font-face{
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("../Metropolis-Bold.woff2") format("woff2");
    font-weight: 700;
}
@font-face{
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("../Metropolis-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}
@font-face{
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("../Metropolis-SemiBold.woff2") format("woff2");
    font-weight: 600;
}
@font-face{
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("../Metropolis-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
}
@font-face{
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("../Metropolis-Medium.woff2") format("woff2");
    font-weight: 500;
}
@font-face{
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("../Metropolis-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
}
@font-face{
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("../Metropolis-Regular.woff2") format("woff2");
    font-weight: 400;
}
@font-face{
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("../Metropolis-RegularItalic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}
@font-face{
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("../Metropolis-Light.woff2") format("woff2");
    font-weight: 300;
}
@font-face{
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("../Metropolis-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
}
@font-face{
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("../Metropolis-ExtraLight.woff2") format("woff2");
    font-weight: 200;
}
@font-face{
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("../Metropolis-ExtraLightItalic.woff2") format("woff2");
    font-weight: 200;
    font-style: italic;
}
@font-face{
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("../Metropolis-Thin.woff2") format("woff2");
    font-weight: 100;
}
@font-face{
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("../Metropolis-ThinItalic.woff2") format("woff2");
    font-weight: 100;
    font-style: italic;
}